<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage your Brand!</title>
</head>
<body ng-app="app" class="ng-cloak">
<div class="generic-container" ng-controller="BrandController as ctrl">

<div class="panel panel-primary">
    <div class="panel-heading"><h4>Brand</h4></div>
    <div class="panel-body">
        <label for="brandId"> ID: </label>
        <div id="brandId" >{{viewedBrand.id}}</div>
        <label for="brandName"> Name: </label>
        <div id="brandName" >{{viewedBrand.name}}</div>
        <label for="brandDescription"> Description: </label>
        <div id="brandDescription" >{{viewedBrand.description}}</div>
        </div>
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Facebook Account</h4>
            <button type="button" ng-click="ctrl.addEditFacebookAccount(viewedBrand.id)" class="btn btn-success custom-width">
            Add/Edit
        </button></div>
        <div class="panel-body">
            <label for="faceKey"> App ID: </label>
            <div id="faceKey" >{{facebook.appId}}</div>
            <label for="faceSecret"> Secret key: </label>
            <div id="faceSecret" >{{facebook.secretKey}}</div>
        </div>
        </div>
    </div>


</div>

    </div>
</body>
</html>