<div class="generic-container" ng-controller="ManageBrandController as ctrl">

<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeThisDialog('Some value')"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add or Edit Facebook Post</h4>
            </div>
            <div class="modal-body">
                <div class="formcontainer">
                    <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                        <input type="hidden" ng-model="ctrl.facebookAccount.id" />
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="postTextId">Post text</label>
                            <div class="col-md-7">
                                <textarea class="form-control" rows="3" ng-model="ctrl.facebookAccount.userId" id="postTextId"
                                                                placeholder="Enter post for facebook account."></textarea>
                                <div class="has-error" ng-show="myForm.$dirty">
                                    <span ng-show="myForm.postTextId.$error.required">This is a required field</span>
                                    <span ng-show="myForm.postTextId.$error.minlength">Minimum length required is 3</span>
                                    <span ng-show="myForm.postTextId.$invalid">This field is invalid </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <input type="submit"  value="{{'Add'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                            <button type="button" ng-click="closeThisDialog('Some value')" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>