<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage your Brand!</title>
</head>
<body ng-app="app" class="ng-cloak">
<div class="generic-container" ng-controller="ManageBrandController as ctrl">

<div class="panel panel-primary">
    <div class="panel-heading"><h4>Brand</h4></div>
    <div class="panel-body">
        <label for="brandId"> ID: </label>
        <div id="brandId" >{{viewedBrand.id}}</div>
        <label for="brandName"> Name: </label>
        <div id="brandName" >{{viewedBrand.name}}</div>
        <label for="brandDescription"> Description: </label>
        <div id="brandDescription" >{{viewedBrand.description}}</div>
        </div>
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Facebook Account</h4>
            <button class="btn btn-primary" ng-click="login()" ng-disabled="ctrl.isFacebookConnected()">Connect with Facebook</button>

        </div>
        <div class="panel-body" ng-click="ctrl.updateLikes()">
            <tabs>
                <pane title="Informations">
                    <div>
                        <br/>
                        <label for="faceKey"> App ID: </label>
                        <div id="faceKey" >{{facebook.userId}}</div>
                        <label for="faceSecret"> Secret key: </label>
                        <div id="faceSecret" >{{facebook.accessToken}}</div>
                    </div>
                </pane>
                <pane title="Profile Informations">
                    <div ng-include="'/resources/static/app/views/partials/facebook/profile.html'"> </div>
                </pane>
                <pane title="Likes">
                    <div ng-include="'/resources/static/app/views/partials/facebook/likes.html'"> </div>
                </pane>
                <pane title="Options">
                    <div ng-include="'/resources/static/app/views/partials/facebook/options.html'"> </div>
                </pane>
            </tabs>
        </div>

        </div>
    </div>


</div>

    </div>
</body>
</html>